<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/home">student</a>
    <a href="/khoa">khoa</a>
    <a href="/subject">subject</a>
    <% for(let i in data) { %>

        <p><%= data[i].lastName %></p>
        <p><%= data[i].email %></p>

    <% for(let j=0;j<data[i].Subjects.length;j++){ %>
       <p><%= data[i].Subjects[j].nameS %></p>
       <p><%= data[i].Subjects[j].sotc %></p>
   <% } %>
    <% if(data[i].Khoa){%>
     <p><%= data[i].Khoa.nameKhoa %></p>
   <%}%>
   <a href="/editstudent/<%= data[i].id%>">edit</a>
   <form action="/delete/student/<%= data[i].id%>?_method=DELETE" method="POST">
       <button >delete</button>
   </form>

   <% } %>
    
    <a href="/createstudent">createstudent</a>
</body>
</html>